# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "ef2ee1771d1bdefd003ae6f850fb79e9"
name = "Kefoff Profile Hub"
application_url = "https://kefoff-profile-1zja4vh98-trongphuc0401s-projects.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,customer_read_customers,read_customers,write_customers,read_discounts"

[auth]
redirect_urls = [ 
  "https://kefoff-profile-1zja4vh98-trongphuc0401s-projects.vercel.app/api/auth",
  "https://kefoff-profile-1zja4vh98-trongphuc0401s-projects.vercel.app/api/auth/callback"
]
